/GoCook/bin/
/GoCook/gen/
/GoCook/.classpath
/GoCook/.settings/
/GoCook/.project
/GoCook/project.properties
/GoCook/res/drawable-xxhdpi/Thumbs.db
/GoCook/res/drawable-xhdpi/Thumbs.db
/GoCook/res/drawable-mdpi/Thumbs.db
/GoCook/res/drawable-ldpi/Thumbs.db
/GoCook/res/drawable-hdpi/Thumbs.db
/GoCook/Thumbs.db
/Zxing/bin/
/Zxing/gen/
/Zxing/.classpath
/Zxing/.settings/
/Zxing/.project
/Zxing/res/drawable-xxhdpi/Thumbs.db
/Zxing/res/drawable-xhdpi/Thumbs.db
/Zxing/res/drawable-mdpi/Thumbs.db
/Zxing/res/drawable-ldpi/Thumbs.db
/Zxing/res/drawable-hdpi/Thumbs.db
/Zxing/Thumbs.db
/Zxing/project.properties
/ShareSDK_for_Android_2.3.1/Share SDK for Android/Libs/OneKeyShare/bin