/GoCook/bin/
/GoCook/gen/
/GoCook/.classpath
/GoCook/.settings/
/GoCook/.project
/GoCook/project.properties
/GoCook/res/drawable-xhdpi/Thumbs.db
/GoCook/res/drawable-mdpi/Thumbs.db
/GoCook/res/drawable-ldpi/Thumbs.db
/GoCook/res/drawable-hdpi/Thumbs.db
/GoCook/Thumbs.db